.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.parallax-container-short {
  position: relative;
  overflow: hidden;
  height: 100px;
}

.row {
  opacity: 90%;
}

.order-container {
  column-break-inside: avoid;
}

/* label color */
 .input-field label {
   color: brown;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: brown;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid brown;
   box-shadow: 0 1px 0 0 brown;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid brown;
   box-shadow: 0 1px 0 0 brown;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid brown;
   box-shadow: 0 1px 0 0 brown;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: brown;
 }
